<div class="jumbotron mb-60 text-center jumbotron-bg">
  <h1 class="display-5 hero-title mb-3">Elore is a place to help showcasing wedding services.</h1>
  <p class="lead hero-lead">Collect and share with everyone.</p>
</div>