/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "navbar.scss";
 @import "posts.scss";


 body {
   background-color: #F6F6F6;

   .jumbotron-bg {
    background:
      linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
      url('https://images.unsplash.com/photo-1503238774835-1e800884d53b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e47ac33daae3f0b9c2add178ea367801&auto=format&fit=crop&w=2700&q=80');
    background-size: cover;
    border-radius: 0;

    .hero-title {
      margin-right: auto;
      margin-left: auto;
      width: 56%;

      color: white;
 
      font-size: 2rem;
    }

    .hero-lead {
      color: white;
    }
   }

   .content-wrapper {
     padding-top: 40px;
   }
 }

 // Custom Bootstrap

 .btn-primary-custom {
   border-radius: 24px;
   background-color: #248888;
   border-color: #248888;
   color: white;

   &:hover {
     background-color: #2ba1a1;
     border-color: #2ba1a1;
     color: white;
   }
 }

 .mb-60 {
   margin-bottom: 60px;
 }
