<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul class="py-3">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul class="py-3">
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul class="py-3">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3 info">
                <h5>Information</h5>
                <%= image_tag url_for( '/logo.png' ), class: 'img-fluid py-3' %>                
                <p> Curating the best wedding services. Handpicked by the community. </p>
            </div>
        </div>
    </div>
    <div class="second-bar">
        <div class="container">
          <div class="row row-second-bar">
            <div class="col-auto mr-auto align-self-center">
              <p class="my-0">&copy; Elore 2018. All Rights Reserved.</p>
            </div>

            <div class="col-auto">
              <div class="social-icons">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
    </div>
</footer>